.Tablecontent{
    color: rgb(255, 255, 255);
    font-size: 2rem;
   
  }
  
  table.Table{
      background-color: #072904;
      margin-top: 3rem;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5rem;
        width: 90rem;
        border: none;
  }

  @media only screen and (max-width: 400px) {
    table.Table{
        width: auto;
    }
    .Tablecontent{
      font-size: 1rem;
    }
  }