@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&family=Roboto:wght@100&display=swap');

.buddy {
    background-image: url(../resources/foodie.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 2rem;
    margin-top: 6rem;
    
}

.hero-text {
    background-color: rgba(0, 0, 0, 0.607);
    color: #ffffff;
    margin: auto;
    font-size: 2rem;
    text-align: center;
    padding: 5rem 5rem;
    margin-bottom: 2rem;
}

.heropar{
    font-family: Roboto;
    font-weight: bold;
}

.herobutton{
    font-family: PT Sans Marrow;
    font-size: 2rem;
    background: #ffa200;
    border-radius: 1.0rem;
    padding: 0.8rem;
    border: 0;
    cursor: pointer;

}


a button:hover{
    background: #072904;
    transition: 0.5s;

}


@media only screen and (max-width: 400px){
    .buddy{
        padding: none;
    }
    .hero-text{
        font-size: 0.5rem;
    }
    .hero-logo{
        height: 4.5rem;
    }
}