@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&family=Roboto:wght@100&display=swap');

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.bigText{
    font-family: PT Sans Narrow;
    font-size: 3rem;
}

.bigText2{
    font-family: PT Sans Narrow;
    font-size: 5rem;
}

.nav-bar ul li a {
    font-family: PT Sans Marrow;
}

.contat-heading{
    font-family: PT Sans Marrow;
    font-size: 3rem;
    text-align: center;
 }

 @media only screen and (max-width: 400px){
    .bigText{
        font-size: 1.2rem;
    }
    .bigText2{
        font-size: 1.8rem;
    }
    .heropar{
        font-size: 1.2rem;
    }
    .herobutton{
        font-size: 1rem;
    }
    .roadmap{
        width: 20rem;
    }
    .contat-heading{
        font-size: 2.5rem;
        margin: 0;
    }
    .plate{
        width: 5rem;
    }
    .event-image{
        width: 15rem;
        height: 10rem;
    }
 }